.header {
    width:100%;
    height: auto;
    float:left;
    box-sizing: border-box;
}


.nav {
    margin-top:100px;
    position:fixed;
    height: 60px;
    left:0;
    top:0;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
