.header {
    width:100%;
    height: auto;
    float:left;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}


.nav {
    width:auto;
    max-width: 60%;
    margin-top:100px;
    height: 60px;
    display:flex;
    left:0;
    right:0;
    top:0;
    justify-content: center;
    align-items: center;
    float:left;
}

.searchContainer {
    padding-left: 100px;
    width:auto;
    float:left;
    height: 60px;
    margin-top:100px;
    top:0;
    right:0;
    display: flex;
    align-items: center;
}

.searchInput {
    width: 300px;
    height: 35px;
    border:1px solid transparent;
    outline:none;
    background: #f1f1f1;
    border-radius: 100px;
    box-sizing: border-box;
    padding:10px 15px 10px 15px;
    font-size: 15px;
    color: #000;
    font-family: 'Roboto',sans-serif;
}